<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>用户注册</title>
	<link rel="stylesheet" href="__INDEX__style/base.css" type="text/css">
	<link rel="stylesheet" href="__INDEX__style/global.css" type="text/css">
	<link rel="stylesheet" href="__INDEX__style/header.css" type="text/css">
	<link rel="stylesheet" href="__INDEX__style/login.css" type="text/css">
    <link rel="stylesheet" href="__INDEX__style/footer.css" type="text/css">
    <script src="__INDEX__js/jquery-1.8.3.min.js"></script>
    <script src="__LAYER__layer.js"></script>
</head>
<body>
	<!-- 顶部导航 start -->
	<{include file='public/nav'}>
	<!-- 顶部导航 end -->
	
	<div style="clear:both;"></div>

	<!-- 页面头部 start -->
	<div class="header w990 bc mt15">
		<div class="logo w990">
			<h2 class="fl"><a href="index.html"><img src="__INDEX__images/logo.png" alt="京西商城"></a></h2>
		</div>
	</div>
	<!-- 页面头部 end -->
	
	<!-- 登录主体部分start -->
	<div class="login w990 bc mt10 regist">
		<div class="login_hd">
			<h2>用户注册</h2>
			<b></b>
		</div>
		<div class="login_bd">
			<div class="login_form fl">
				<form action="" method="post">
					<ul>
						<li>
							<label for="">用户名：</label>
                            <input type="text" class="txt" name="username" />
                            <input type="button" class="email_res" value="使用邮箱注册"/>
                            <style>
                                .email_res{
                                    height: 32px;
                                    width: 180px;
                                    line-height: 32px;
                                    vertical-align: top;
                                    text-align: center;
                                    border: none;
                                    background-color: #ff9900;
                                    color: white;   
                                    outline: none;
                                    cursor: pointer;
                                }
                            </style>
                            <script>
                                $('.email_res').click(function(){
                                    window.location='/index/user/registerEmail'
                                })
                            </script>
							<p>3-20位字符，可由中文、字母、数字和下划线组成</p>
						</li>
						<li>
							<label for="">密码：</label>
							<input type="password" class="txt" name="password" />
							<p>6-20位字符，可使用字母、数字和符号的组合，不建议使用纯数字、纯字母、纯符号</p>
						</li>
						<li>
							<label for="">确认密码：</label>
							<input type="password" class="txt" name="passAgain" />
							<p> <span>请再次输入密码</p>
						</li>
						<li class="checkcode">
							<label for="">验证码：</label>
							<input type="text" class="txt"  name="checkcde" />
							<img src="<{:url('index/user/captcha')}>" id="captcha" alt="" />
							<span>看不清？<a href="javascript:;" onclick="change()">换一张</a></span>
						</li>
						<li>
							<label for="">手机号：</label>
                            <input type="text"  class="txt" name="phone" id="phone"/>
                            <input type="button" value="发送短信验证码" id="send">
                        </li>
                        <script>
                            var time = 10;
                            function getTime(){
                                time -=1;
                                if(time>0){
                                    $('#send').attr('disabled',true).val(time+'s后再次获取')
                                    setTimeout(getTime,1000)
                                }else{
                                    $('#send').attr('disabled',false).val('再次获取')
                                }
                            }
                            $("#send").click(function(){
                                //获取填写的手机号
                                var phone = $('#phone').val();
                                $.ajax({
                                    url:"<{:url('index/user/send')}>",
                                    type:'post',
                                    data:{phone:phone},
                                    success:function(res){
                                        if(res.code!=0){
                                            alert(res.msg)
                                        }else{
                                            // 倒计时
                                            getTime();
                                        }
                                        // console.log(res);
                                    }
                                })
                            })
                        </script>
						<li>
							<label for="">验证码：</label>
                            <input type="text" class="txt" name="phonecode" />
						</li>
						<script>
                            function change(){
                                $("#captcha").attr("src","<{:url('index/user/captcha','1')}>")
                            }
                            $("#captcha").click(function(){
                                $(this).attr("src","<{:url('index/user/captcha','2')}>")
                            })
                        </script>
						<li>
							<label for="">&nbsp;</label>
							<input type="submit" value="" class="login_btn" />
						</li>
					</ul>
				</form>

				
			</div>
			
			<div class="mobile fl">
				<h3>手机快速注册</h3>			
				<p>中国大陆手机用户，编辑短信 “<strong>XX</strong>”发送到：</p>
				<p><strong>1069099988</strong></p>
			</div>

		</div>
	</div>
	<!-- 登录主体部分end -->

	<div style="clear:both;"></div>
	<!-- 底部版权 start -->
	<{include file='public/copy'}>
	<!-- 底部版权 end -->

</body>
</html>